<div class="blockchain1">
  <div class="imgblock">
    <%= image_tag "secure1.jpeg",  class:"img-block" %>
  </div>
  <div class="textblock">
      <h1>Blockchain Security</h1>
      <p> Blockchain technology produces a structure of data with inherent security qualities. It's based on principles of cryptography, decentralization and consensus, which ensure trust in transactions. In most blockchains or distributed ledger technologies (DLT), the data is structured into blocks and each block contains a transaction or bundle of transactions. Each new block connects to all the blocks before it in a cryptographic chain in such a way that it's nearly impossible to tamper with. All transactions within the blocks are validated and agreed upon by a consensus mechanism, ensuring that each transaction is true and correct.

Blockchain technology enables decentralization through the participation of members across a distributed network. There is no single point of failure and a single user cannot change the record of transactions. However, blockchain technologies differ in some critical security aspects.</p>
      <%= image_tag "selo.png", class: "selo"%>
  </div>
</div>
<div class="blockchain2">
  <div class="textblock2">
      <h1 class= "texto">How does blockchain work for business?</h1>
      <p class= "texto">Blockchain for business is valuable for entities transacting with one another. With distributed ledger technology, permissioned participants can access the same information at the same time to improve efficiency, build trust and remove friction. Blockchain also allows a solution to rapidly size and scale, and many solutions can be adapted to perform multiple tasks across industries. Blockchain for business delivers these benefits based on four attributes unique to the technology.</p>
<p>
<strong>Consensus:</strong> Shared ledgers are updated only after the transaction is validated by all relevant participants involved.
<br>
<br>
<strong>Replication:</strong> Once a block — the record of an event — is approved, it is automatically created across the ledgers for all participants in that channel. Every network partner sees and shares a single “trusted reality” of the transactions.
<br>
<br>
<strong>Immutability:</strong> More blocks can be added, but not removed, so there is a permanent record of every transaction, which increases trust among the stakeholders.
<br>
<br>
<strong>Security:</strong> Only authorized entities are allowed to create blocks and access them. Only trusted partners are given access permission.</p>
</p>
  </div>
  <div class="imgblock2">
      <%= image_tag "functions.png",  class:"img-block" %>
  </div>
</div>
<div class="blockchain1">
  <div class="imgblock">
    <%= image_tag "B2B.webp",  class:"img-block" %>
  </div>
  <div class="textblock">
  <br>
  <br>
      <h1>The B2B Blockchain Challenge...and the Future</h1>
  <br>
  <br>
      <p>
While banks and fintech companies are wasting no time embracing Blockchain, the challenge for B2B merchants remains to be the on and off-ramps (how they can turn good old dollars into digital coins with ease and low risk). Several fintech and ACH companies are attempting to solve these issues with B2B specific offerings.

We can expect that, as the blockchain market matures, banks and fintech companies will continue to open their infrastructure and APIs to third-party developers, including B2B merchants. Technology vendors may also begin to integrate blockchain technologies into their commerce solutions. Stripe, for instance, says it is still in “Early Innings,” there is no doubt the “winter” is thawing, and we will continue to watch as this space evolves.
      </p>
  </div>
</div>
<div class="blockchain3">
  <div class="videoblock4">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Pl8OlkkwRpc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<div class="blockchain4">
    <h2>Companies that use Blockchain</h2>
  <div class="cias">
    <%= image_tag "google.png", class: "cia" %>
    <%= image_tag "ibm.jpg", class: "cia" %>
    <%= image_tag "mastercard.jpeg", class: "cia" %>
    <%= image_tag "nestle.png", class: "cia" %>
    <%= image_tag "samsung.png", class: "cia" %>
    <%= image_tag "wallmart.jpg", class: "cia" %>
  </div>
</div>
