<div class="header">
    <%= image_tag "LOGOBLOCK2.png",  class:"logo" %>
    <%= image_tag "logo2.png",  class:"logoword" %>

    <nav>
      <ul class= "nav__links">
          <li> <%= link_to "Blockchain", blockchain_index_path  %></li>
          <li> <%= link_to "Web3.0", web3_index_path  %></li>
          <li> <%= link_to "Services", services_index_path  %></li>
          <li> <%= link_to "Partners", partners_index_path  %></li>
          <li> <%= link_to "About", about_index_path  %></li>
          <li> <%= link_to "Contact", contact_index_path  %></li>
      </ul>
    </nav>
</div>

<div class= "container1">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner" >
        <div class="carousel-item active " >
          <%= image_tag "metaverse1",  class:"d-block w-100  " %>
        </div>
        <div class="carousel-item" >
          <%= image_tag "web31.jpeg",  class:"d-block w-100 " %>
        </div>
        <div class="carousel-item" >
          <%= image_tag "block10.png",  class:"d-block w-100 " %>
        </div>
      </div>
    </div>
</div>

<div class= "container2">
   <main>
      <a href="https://google.com" class="card">
          <div class="inner">
            <h2 class="title">texto aqui</h2>
            <time class="subtitle">sub texto aqui<time>
          </div>
      </a>

      <a href="https://google.com" class="card card2">
          <div class="inner">
            <h2 class="title">texto aqui</h2>
            <time class="subtitle">sub texto aqui<time>
          </div>
      </a>

      <a href="https://google.com" class="card card3">
          <div class="inner">
            <h2 class="title">texto aqui</h2>
            <time class="subtitle">sub texto aqui<time>
          </div>
      </a>

       <a href="https://google.com" class="card card4">
          <div class="inner">
            <h2 class="title">texto aqui</h2>
            <time class="subtitle">sub texto aqui<time>
          </div>
      </a>

       <a href="https://google.com" class="card card5">
          <div class="inner">
            <h2 class="title">texto aqui</h2>
            <time class="subtitle">sub texto aqui<time>
          </div>
      </a>
  <main>

</div>
