<!DOCTYPE html>
<html>
  <head>
    <title>BlocKorp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/5b6728adf9.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin&family=Dancing+Script&family=Lobster&family=Noto+Sans:wght@100&family=Staatliches&display=swap" rel="stylesheet">

  </head>

  <body>
      <div class="header">
          <%= link_to root_path do %>
            <%= image_tag "LOGOBLOCK2.png",  class:"logo" %>
            <%= image_tag "logo2.png",  class:"logoword" %>
          <% end %>
          <nav>
            <ul class= "nav__links">
                <li> <%= link_to "Home", root_path  %></li>
                <li> <%= link_to "Blockchain", blockchain_index_path  %></li>
                <li> <%= link_to "Web3.0", web3_index_path  %></li>
                <li> <%= link_to "Services", services_index_path  %></li>
                <li> <%= link_to "Partners", partners_index_path  %></li>
                <li> <%= link_to "About", about_index_path  %></li>
                <li> <%= link_to "Contact", contact_index_path  %></li>
            </ul>
          </nav>
      </div>



    <%= yield %>
  </body>
      	<footer id="footer">
            <div class= "icons">
            <a href="site do instagram"><i class="fa-brands fa-instagram-square"></i></a>
            <a href="site do facebook"><i class="fa-brands fa-facebook-square"></i></a>
            <a href="site do twitter"><i class="fa-brands fa-twitter-square"></i></a>
            </div>
            <p>Powered by <strong>©NewIdeas</strong></p>
		   </footer>
</html>
